.task-edit {
  position: relative;

  box-sizing: border-box;
  width: 350px;
  padding: 20px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;

  border-radius: 4px;
  background-color: #ebecf0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

  &__outer-wrapper {
    margin-top: 10px;
    margin-left: 12px;
  }

  &__buttons-wrapper {
    align-self: flex-end;
    display: flex;
  }

  &__button {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__author,
  &__text,
  &__status {
    margin: 0;
  }

  &__author {
    font-weight: 700;
  }

  &__email,
  &__email:hover {
    text-decoration: underline;
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px;

    border-radius: 4px;
    background-color: #ffffff;
  }
}
